wp-config.php
.htaccess
*~
*swp
.DS*Store
Thumbs.db
base_bkp_last_reset.sql
.project
wp-content/blogs.dir
wp-content/uploads
src/wp-content/uploads/
src/index.html
src/wp-content/plugins/si-captcha-for-wordpress/captcha/temp
src/wp-content/plugins/si-captcha-for-wordpress/captcha/cache
/nbproject/private/
nbproject/
.buildpath
.settings
src/wp-content/blogs.dir
src/wp-content/debug.log

# WordPress plugins
src/wp-content/plugins/regenerate-thumbnails
src/wp-content/plugins/monster-widget
src/wp-content/plugins/bulk-delete
src/wp-content/plugins/debug-bar
src/wp-content/plugins/debug-bar-console

# Sublime Text project files
*.sublime-project
*.sublime-workspace
scripts/update-wp.conf

#PHPStorm
.idea

node_modules

# For specific projects
src/wp-content/plugins/ge-wp/inc/db-config.php
src/wp-content/plugins/snc-oficinas-dialogos-federativos/uploads/*
/src/wp-content/plugins/snc-oficinas-dialogos-federativos/uploads/*

# docker
docker
docker-compose.yml
db/base_wp.sql

