/*
 Theme Name:   DIVI-JAIMINHO
 Theme URI:    https://github.com/CulturaGovBr/wp-divi-salic
 Description:  Subtema para a JAIMINHO
 Author:       MinC
 Author URI:   http://www.cultura.gov.br
 Template:     divi
 Version:      0.1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  divi-seinfra
 */