/***** Overwrite theme *****/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#page-container {
	flex: 1 0 auto;
}

.et-search-form input,
span.et_close_search_field{
	top: 33px;
}

div#wrapper-barra-brasil,
div#wrapper-footer-brasil{
	max-width: 1080px !important;
	padding: 0 !important;
}

#main-content .container{
	min-height: 100vh;
}

#comment{
	display: block;
	width: 100%;
}

.et_pb_button{
	font-size: 16px;
}

.form-submit{
	float: none;
	clear: both;
}

.fancybox-container{
    z-index: 199999;
}

.incsub_wiki_content {
    margin: 15px 0 30px;
}

.incsub_wiki_tabs ul{
	padding: 0 !important;
}

.incsub_wiki_tabs li a{
	padding: 10px 15px !important;
	color: #2ea3f2 !important;
}

#comment-wrap {
    padding-top: 30px;
}

.et_right_sidebar #main-content .container:before{
	right: inherit;
	left: 20.875% !important;
}

.et_right_sidebar #left-area {
    float: left;
    padding-right: 0;
    padding-left: 5.5%;
}

.et_right_sidebar #sidebar {
    padding-right: 30px;
    padding-left: 0;
}