/***** Overwrite theme *****/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#page-container {
	flex: 1 0 auto;
}

.et-search-form input,
span.et_close_search_field{
	top: 33px;
}

div#wrapper-barra-brasil,
div#wrapper-footer-brasil{
	max-width: 1080px !important;
	padding: 0 !important;
}

#main-content .container{
	min-height: 100vh;
}

#comment{
	display: block;
	width: 100%;
}

.et_pb_button{
	font-size: 16px;
}

.form-submit{
	float: none;
	clear: both;
}

.fancybox-container{
    z-index: 199999;
}