/* --------------- samples --------------- */

h1,
h2,
h3,
h4{
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6px;
}
h1 {
    text-align: center;
    font-size: 62px;
    line-height: 64px;
    margin: 0 0 36px 0;
}

h1 {
    text-align: center;
    font-size: 62px;
    line-height: 64px;
    margin: 0 0 36px 0;
}
h1 > span {
    text-transform: none;
    display: block;
    color: #f15725;
    font-size: 28px;
    line-height: 34px;
    padding-top: 25px;
    font-weight: 400;
    letter-spacing: 0;
    font-family: 'Noto Sans', sans-serif;
}
h2 {
    font-size: 42px;
    letter-spacing: 4px;
    margin-bottom: 14px;
}
h3 {
    font-size: 32px;
    letter-spacing: 3px;
    margin-bottom: 14px;
}
h4 {
    font-size: 22px;
    letter-spacing: 3px;
    margin-bottom: 14px;
}
p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;
}
a {
    color: #f15725;
}
a:hover {
    text-decoration: underline;
}
.buttons{
    text-align: center;
}
.buttons button{
    width: auto;
    padding: 0 15px;
}
.headline{
    margin-bottom: 25px;
}
.strapline{
    margin-bottom: 0 !important;
}
.strapline span{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 36px;
}
.heading_2, .heading_3, .heading_4{
    width: 90%;
    margin: 0 auto;
}
.columns.row {
  width: 90%;
  margin: 0 auto;
}
/* --------------- /samples --------------- */