@font-face {
	font-family: 'Open Sans';
	src: url('../../fonts/opensans-regular-webfont.woff2') format('woff2'),
	url('../../fonts/opensans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../../fonts/opensans-bold-webfont.woff2') format('woff2'),
	url('../../fonts/opensans-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
	url('../../fonts/opensans-extrabold-webfont.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font__sec;
}

h1 {
	line-height: 32px;
}

@for $i from 1 through 8 {
	$size: 34 - ( $i + $i );

	h#{$i} {
		font-size: $size + px;
	}
}

.site-title {
	font-size: 40px;
	line-height: 40px;
	letter-spacing: -2px;
	font-weight: 800;
	margin: 0;
	font-family: $font__main;
}

.entry-title,
.page-title,
.comments-title,
.comment-reply-title {
	font-weight: 700;
	margin: 15px 0;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: -2px;
}

.comments-title {
	font-size: 28px;
	margin-bottom: 30px;
}

.comment-reply-title {
	font-size: 26px;
	margin: 0;

	> small {
		margin-left: 15px;
	}
}

.widget-title {
	background: #edeff1;
	padding: 8px 8px 24px 10px;
	margin: 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	border-top: 4px solid $theme-green__color-primary;
	border-bottom: 1px solid #ccc;

	body.yellow-theme & {
		color: $theme-yellow__link-color;
		border-top: 4px solid $theme-yellow__link-color;
	}

	body.blue-theme & {
		color: $theme-blue__link-color;
		border-top: 4px solid $theme-blue__link-color;
	}

	body.white-theme & {
		color: $theme-white__link-color;
		border-top: 4px solid $theme-white__link-color;
	}

	body.high-contrast & {
		color: #000;
		border-top: 4px solid #fff;
		background: #fff;
	}
}

.screen-reader-text{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	clip-path: inset(50%);
	border: 0;
}