
body.contraste {
    background: #000;
}
body.contraste footer#main-footer {
    background: #000;
    border-top: 1px solid #fff;
}
body.contraste #footer-brasil {
    background: #000 !important;
    border-top: 1px solid #fff;
}
body.contraste .et_pb_post h2 a, .contraste  .et_pb_portfolio_item h3 a {
    text-decoration: none;
    color: #fff;
}
body.contraste li.current_page_item a {
    color: #f0c419 !important;
}
.contraste a {
    color: #fff;
}
.contraste a:hover {
    color: #fbff49 !important;
}
.contraste .itemTitle a {
    color: #fbff49 !important;
}
.contraste .home a.more-link {
    background: rgb(251, 255, 73);
    color: #000;
}
.contraste .menu a {
    color: #000;
}
.contraste .oqueeleirouanet p {
    background-color: #000 !important;
    color: #fff !important;
}
.contraste div#header {
    background: #000;
    background-image: none;
    border-bottom: 1px solid #fff;
}
.contraste header#main-header {
    background: #4a4a4a !important;
    border-bottom: none !important;
}
.contraste .feedEkList {
    background: #000;
    color: #fefefe;
}
.contraste #main-content .et_pb_sidebar_0.et_pb_widget_area a:hover {
    color: #fbff49 !important;
}

.contraste .titulo-page {
    background: #4a4a4a;
    color: #fff;
}
.contraste div#texto-video {
    color: white;
}
.contraste article {
    background: #000;
}
.contraste #cadastro .et_pb_promo {
    background-color: #4a4a4a !important;
}
.contraste .conteudo-login{
    background-color: #4a4a4a !important;
}
.contraste  .et_pb_section.et_pb_section_0.et_section_specialty {
    background: #000;
    color: #fff;
}
.contraste .et_pb_section_0.et_pb_section {
    background: #000 !important;
}

.contraste article.has-post-thumbnail {
    background: black;
}

.contraste  #accessibility span {
    padding: 0 3px;
    background: #5c5c5c;
    color: #fff;
}

.contraste .et_pb_section.et_pb_section_0.et_section_specialty {
    background: #000 !important;
}

.contraste #main-content {
    background-color: #000;
}
.contraste h1.entry-title.main_title {
    color: #fff;
}

.contraste #main-content .et_pb_sidebar_0.et_pb_widget_area a {
    color: #fff !important;
}
.contraste article {
    background: #000 !important;
}
.contraste h1.entry-title {
    color: #fff;
    background: #000;
}
.contraste .et_pb_text h3 {
    color: #fff;
}
.contraste #main-content h4.widgettitle {
    background: none repeat scroll 0 0 #4c5156 !important;
    border-color: #fff;
    color: #fff !important;
}

.contraste #header img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.contraste #main-footer img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.contraste .et_pb_fullwidth_menu.et_pb_module.et_pb_bg_layout_light.et_pb_text_align_left.et_dropdown_animation_fade.et_pb_fullwidth_menu_0 {
    background: #383838 !important;
}

.contraste  ul#menu-menu-principal {
    background: #383838 !important;
}
.contraste .oqueeleirouanet {
    background: #000;
}
.contraste img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
 .contraste  h2{
color:#fff;
}
 .contraste  .oqueadenovo h1 {
    color:#000000;
}
 .contraste  .oqueadenovo .lista-oqueadenovo li {
    color: black !important;
}
 .contraste .et_pb_section_3.et_pb_section {
    background-color: #000000 !important;
}
.contraste .et_pb_section_1.et_pb_section {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.contraste img {
    filter: none;
}
.contraste #menu-menu-principal > li:last-child {
    background-color: rgba(0, 0, 0, 0.42);
    box-shadow: 1px 1px 1px #000;
}
.contraste #header input.searchButton {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.contraste #social-icons li a {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.contraste .et_pb_fullwidth_header {
    position: relative;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.contraste .et_pb_slide.et_pb_slide_with_image.et_pb_bg_layout_light.et_pb_media_alignment_center.et_pb_slide_0.et-pb-active-slide {
    background: black !important;
    color: #fff !important;
}
.contraste .et_pb_slide_content p {
    color: #fff !important;
}
.contraste .et_pb_section_2.et_pb_section {
    background-color: #933d94 !important;
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.contraste .entry-content .et_pb_section_4.et_pb_section {
    background-color: #ffffff !important;
}

.contraste #main-content ul#menu-menu-principal {
    background: none repeat scroll 0 0 #383838 !important;
}
.contraste #page-container {
    background: #000;
}

.contraste .menu-item-has-children:hover ul.sub-menu, .contraste .menu-item-has-children:active ul.sub-menu {
    background: #000000;
    border-color: #fff;
    color: #fff;
}
.contraste .et_pb_bg_layout_light .et_pb_post .post-meta, .contraste .et_pb_bg_layout_light .et_pb_portfolio_item .post-meta,.contraste .et_pb_bg_layout_light .et_pb_post .post-meta a,.contraste .et_pb_bg_layout_light .et_pb_portfolio_item .post-meta a,.contraste .et_pb_bg_layout_light .et_pb_post p, .contraste .et_pb_bg_layout_light p.et_pb_title_meta_container, .contraste .et_pb_bg_layout_light p.et_pb_title_meta_container a {
    color: #fff;
}
.contraste h1, .contraste h2, .contraste h3, .contraste h4, .contraste h5, .contraste h6 {
    padding-bottom: 10px;
    color: #fff;
    font-weight: 500;
    line-height: 1em;
}
.contraste .et_pb_toggle_open {
    padding: 20px;
    color: #fff;
    background: #000;
    border: 0;
}
.contraste .et_pb_toggle_open h5.et_pb_toggle_title {
    color: #fff;
}