.menu-metas-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.menu-metas-container  #menu-metas {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}

@media (min-width: 30em) {
  .menu-metas-container  #menu-metas {
    left: -50%;
    transform: translateX(50%);
  }
}

@media (min-width: 40em) {
  .menu-metas-container  #menu-metas {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

.menu-metas-container  #menu-metas.is-reversing {
  transform: translateX(-100%);
}

@media (min-width: 30em) {
  .menu-metas-container  #menu-metas.is-reversing {
    transform: translateX(-50%);
  }
}

@media (min-width: 40em) {
  .menu-metas-container  #menu-metas.is-reversing {
    transform: translateX(-33.33333%);
  }
}

.menu-metas-container  #menu-metas.is-set{
  transform: none;
  transition: transform 0.5s ease-in-out;
}

.menu-metas-container  .menu-item {
  background: #ddd;
  flex: 1 0 100%;
  order: 2;
}

.menu-metas-container  .menu-item:nth-child(even) {
  background: #d5d5d5;
}

@media (min-width: 30em) {
  .menu-metas-container  .menu-item {
    flex-basis: 50%;
  }
}

@media (min-width: 40em) {
  .menu-metas-container  .menu-item {
    flex-basis: 11%;
  }
}

.menu-metas-container  .menu-item.is-ref {
  order: 1;
}

.menu-metas-container  #menu-metas a {
  color: #aaa;
  font-size: 7em;
  font-weight: normal;
  margin: 0;
  padding: 0.6em 0;
  text-align: center;
}

.menu-metas-container  .controls {
  padding: 1em;
  text-align: center;
}

.menu-metas-container  .controls button {
  background: #aaa;
  border: 0;
  border-radius: 0.25em;
  color: #eee;
  padding: 0.5em 1em;
}

.menu-metas-container  .controls button:hover,
.menu-metas-container  .controls button:focus {
  background: orange;
}
