body:not(.home) .menu-metas-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

body:not(.home) .menu-metas-container  #menu-metas {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}

@media (min-width: 30em) {
 body:not(.home)  .menu-metas-container  #menu-metas {
    left: -50%;
    transform: translateX(50%);
  }
}

@media (min-width: 40em) {
 body:not(.home)  .menu-metas-container  #menu-metas {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

body:not(.home) .menu-metas-container  #menu-metas.is-reversing {
  transform: translateX(-100%);
}

@media (min-width: 30em) {
  body:not(.home) .menu-metas-container  #menu-metas.is-reversing {
    transform: translateX(-50%);
  }
}

@media (min-width: 40em) {
  body:not(.home) .menu-metas-container  #menu-metas.is-reversing {
    transform: translateX(-33.33333%);
  }
}

body:not(.home) .menu-metas-container  #menu-metas.is-set{
  transform: none;
  transition: transform 0.5s ease-in-out;
}

body:not(.home) .menu-metas-container  .menu-item {
  flex: 1 0 100%;
  order: 2;
}

body:not(.home) .menu-metas-container  .menu-item:nth-child(even) {

}

@media (min-width: 30em) {
  body:not(.home) .menu-metas-container  .menu-item {
    flex-basis: 50%;
  }
}

@media (min-width: 40em) {
  body:not(.home) .menu-metas-container  .menu-item {
    flex-basis: 11%;
  }
}

body:not(.home) .menu-metas-container  .menu-item.is-ref {
  order: 1;
}

body:not(.home) .menu-metas-container #menu-metas a {
    color: #38759a;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0.6em 0;
    text-align: center;
    min-height: 60px;
    background: #eeeff1;
    display: block;
    margin: 18px 10px;
    border-radius: 4px;
}

body:not(.home) .menu-metas-container  .controls {
  padding: 1em;
  text-align: center;
}

body:not(.home) .menu-metas-container  .controls button {
  background: #aaa;
  border: 0;
  border-radius: 0.25em;
  color: #eee;
  padding: 0.5em 1em;
}

body:not(.home) .menu-metas-container  .controls button:hover,
body:not(.home) .menu-metas-container  .controls button:focus {
  background: orange;
}
body:not(.home) #nav_menu-4.widget_nav_menu {
    width: 100%;
    position: relative;
}

.controls button.toggle {
    position: absolute;
    top: 55px;
    color: #f52b6f;
    background: transparent;
    border: 0;
    font-size: 48px;
    font-weight: lighter;
}
.controls button.toggle[data-toggle=prev] {
    left: 12px;
}
.controls button.toggle[data-toggle=next] {
    right: 12px;
}
body:not(.home) .menu-metas-container #menu-metas .current-menu-item a {
    background: #f52b6f;
    color: #fff;
}