/*
 Theme Name:   Museus
 Theme URI:    https://github.com/CulturaGovBr/wp-museus
 Description:  Subtema baseado no DIVI para o projeto Museus
 Author:       MinC
 Author URI:   http://www.cultura.gov.br
 Template:     divi
 Version:      0.1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  wp-museus
*/
