html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: $background__body;
	font-family: $font__main;
	position: relative;

	&.high-contrast {
		background: #000;
		color: #fff;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
}

.entry-content {
	> *:first-child {
		&:first-letter {
			color: $main__color;
			font-size: 5rem;
			display: block;
			font-weight: 700;
			float: left;
			line-height: 4rem;
			margin-right: 20px
		}
	}

	p {
    font-size: 1.1em;
    line-height: 1.7em;
	}
}