// .services {
// 	.feature-card {
// 		height: 300px;

// 		.card-title {
// position: absolute;
// top: 50%;
// left: 50%;
// 		padding-top: 100px;

// @include transform(translateY(-50%) translateX(-50%));
// 		}
// 	}
// }



#section-content {
	background-color: #1FC86A;

	.section-title {
		color: #FFF;
	}

	.feature-card {
		border: 4px solid #FFF;
		background: none;
		color: #FFF;

		.card-title,
		.card-desc,
		.card-title a {
			color: #FFF;
		}

	&:hover {
		// background-color: #F8F8F8;
		border-color: #222;
		color: #222;

		.card-title,
		.card-desc,
		.card-title a {
			color: #222;
		}
	}
	}
}

#multimidia {
	background-color: #222;
	background-color: #222222;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23ffffff' fill-opacity='0.01' fill-rule='evenodd'/%3E%3C/svg%3E");
	padding: 30px 0 60px;
	color: #FFF;

	.video {
		width: calc(100% - 30px);
		margin: 0 auto;
		height: 500px;
		padding: 0 20px;
		margin-bottom: 30px;
		background-size: cover;
	}
}

.feature-card {
		height: 300px;

	@include transition(all ease-in-out .2s);
	background-color: #f1f1f1;
	padding: 30px 15px 30px;
	position: relative;
	cursor: pointer;
	border: 4px solid transparent;

	.align {
		@include transform(translateY(-50%) translateX(-50%));
		width: calc(100% - 40px);
		position: absolute;
		top: 50%;
		left: 50%;
	}

	&:hover {
		background-color: #F8F8F8;
		border-color: #06ACFF;
		color: #06ACFF;

		.card-title,
		.card-desc,
		.card-title a {
			color: #06ACFF;
		}
	}

	&.static-height {
	}

	.icon {
		margin-bottom: 20px;
	}

	.card-title {
		@include transition(all ease-in-out .2s);

		font-size: 1.2rem;
		font-weight: 700;
		margin: 0;
		position: relative;

		a {
			@include transition(all ease-in-out .2s);
			color: #222;
			text-decoration: none;
		}
	}

	.card-desc {
		@include transition(all ease-in-out .2s);

		font-style: italic;
		font-size: 0.85rem;
	}

	.card-btn {
		font-size: 0.9rem;
		padding: 5px 23px;
	}

// &.icon-lei-rouanet {
// 	.card-title:before {
// 		background-image: url('../../img/lei-rouanet.svg')
// 	}
// }
// &.icon-editais {
// 	.card-title:before {
// 		background-image: url('../../img/editais.svg')
// 	}
// }
// &.icon-apoio {
// 	.card-title:before {
// 		background-image: url('../../img/apoio.svg')
// 	}
// }
// &.icon-patrimonio {
// 	.card-title:before {
// 		background-image: url('../../img/patrimonio.svg')
// 	}
// }
// &.icon-centros-culturais {
// 	.card-title:before {
// 		background-image: url('../../img/centros-culturais.svg')
// 	}
// }
// &.icon-pontos-cultura {
// 	.card-title:before {
// 		background-image: url('../../img/pontos-cultura.svg')
// 	}
// }
// &.icon-snc {
// 	.card-title:before {
// 		background-image: url('../../img/snc.svg')
// 	}
// }
// &.icon-economia-criativa {
// 	.card-title:before {
// 		background-image: url('../../img/economia-criativa.svg')
// 	}
// }

// &.icon-fale-conosco {
// 	.card-title:before {
// 		background-image: url('../../img/fale-conosco.svg')
// 	}
// }
// &.icon-consultas-publicas {
// 	.card-title:before {
// 		background-image: url('../../img/consultas-publicas.svg')
// 	}
// }
// &.icon-ouvidoria {
// 	.card-title:before {
// 		background-image: url('../../img/ouvidoria.svg')
// 	}
// }
// &.icon-dados-br {
// 	.card-title:before {
// 		background-image: url('../../img/dados-br.svg')
// 	}
// }

	&.card-2 {
		// .card-title {
		// 	// margin-top: 200px;
		// 	font-size: 1.2rem;
		// 	width: 140px;
		// 	font-weight: 900;

		// 	.card-title:before {
		// 		top: -200px;
		// 		width: 200px;
		// 		height: 200px;
		// 		margin-left: -100px;
		// 	}
		// }

		// &.icon-ministro {
		// 	.card-title:before {
		// 		background-image: url('../../img/ministro.svg')
		// 	}
		// }
		// &.icon-ministerio {
		// 	.card-title:before {
		// 		background-image: url('../../img/ministerio.svg')
		// 	}
		// }
		// &.icon-secretarias {
		// 	.card-title:before {
		// 		background-image: url('../../img/secretarias.svg')
		// 	}
		// }
		// &.icon-vinculadas {
		// 	.card-title:before {
		// 		background-image: url('../../img/vinculadas.svg')
		// 	}
		// }
		// &.icon-internacional {
		// 	.card-title:before {
		// 		background-image: url('../../img/internacional.svg')
		// 	}
		// }
		// &.icon-acoes-programadas {
		// 	.card-title:before {
		// 		background-image: url('../../img/acoes-programadas.svg')
		// 	}
		// }
		// &.icon-legislacao {
		// 	.card-title:before {
		// 		background-image: url('../../img/legislacao.svg')
		// 	}
		// }
		// &.icon-escritorios-regionais {
		// 	.card-title:before {
		// 		background-image: url('../../img/escritorios-regionais.svg')
		// 	}
		// }
		// &.icon-assessoria {
		// 	.card-title:before {
		// 		background-image: url('../../img/assessoria.svg')
		// 	}
		// }
		// &.icon-noticias {
		// 	.card-title:before {
		// 		background-image: url('../../img/noticias.svg')
		// 	}
		// }
		// &.icon-publicacoes {
		// 	.card-title:before {
		// 		background-image: url('../../img/publicacoes.svg')
		// 	}
		// }
		// &.icon-multimidia {
		// 	.card-title:before {
		// 		background-image: url('../../img/multimidia.svg')
		// 	}
		// }
	}
}