#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^portalsnc.cultura.homologacao$
#RewriteRule wp-content/uploads/(.*) \
#http://portalsnc.cultura.gov.br/wp-content/uploads/$1 [NC,L]
#</IfModule>

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# uploaded files
RewriteRule ^files/(.+) wp-includes/ms-files.php?file=$1 [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule . index.php [L]

php_value memory_limit 512M
