#main-search {
	padding-left: 25%;

	.input-group-btn {
		background: none;

		button {
			background: #fff;
			border-top: 1px solid #ced4da;
			border-right: 1px solid #ced4da;
			border-bottom: 1px solid #ced4da;
			border-top-right-radius: .25rem;
			color: $theme-green__color-primary;

			body.yellow-theme & {
				color: $theme-yellow__color-primary;
			}

			body.blue-theme & {
				color: $theme-blue__color-primary;
			}

			body.white-theme & {
				color: $theme-white__link-color;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		padding-right: 15%;
		padding-left: 15%;
	}
}